@media print {
    @page {
        size: A4;
        size: 210mm 297mm;
        margin: 1cm 0.6cm;
    }

    @page :right {
        @bottom-right-corner {
            content: counter(page);
            font: $print-font-weight 6pt $base-font-family;
        }
    }

    @page :left {
        @bottom-left-corner {
            /* content: "Page " counter(page) " of " counter(pages); */
            content: counter(page);
            font: $print-font-weight 6pt $base-font-family;
        }
    }

    body {
        font: $print-font-weight #{$print-font-size}/#{$print-line-height} $print-font-family;
        background: #fff !important;
        color: #000;
    }

    blockquote {
        font-size: $print-font-size;
    }

    p {
        break-before: avoid;
        orphans: 2;
        widows: 2;
    }

    p:last-of-type {
        margin-bottom: $spacing-unit;
    }

    article {
        columns: 2 auto;
        column-fill: auto;
        text-align: justify;
    }

    .nobreak {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    header h1 {
        border-bottom: .05pt solid $grey-color;
        column-span: all;
        font-size: 1.6em;
        margin: 0;
        margin-bottom: 2pt;
        padding: 0;
        string-set: doctitle content();
        text-align: center;
    }

    h1,h2,h3,h4,h5,h6 {
        break-after: avoid-column;
    }

    h1 { font-size: 1.4em; }
    h2 { font-size: 1.3em; }
    h3 { font-size: 1.2em; }

    h1,h2,h3 {
        break-after: avoid;
        margin-bottom: 0.02em;
        margin-top: 0;
        padding: 0;
        page-break-after: avoid;
        text-align:left;
        text-transform: uppercase;
    }

    a {
        color: #00;
        text-decoration:none;
        font: inherit;
    }
    a:visited {
        font: inherit;
        color: #00;
        text-decoration:none;
    }

    .site-header, .site-footer {
        display: none;
    }

    .noprint {
        display:none;
    }

    .page-break {
        display: block; page-break-before: always;
    }


}
